@tailwind base;
@tailwind components;
@tailwind utilities;

body{ background-color: #F0F2F5  !important; }

body::-webkit-scrollbar{ width: 7px; }
body::-webkit-scrollbar-thumb{
    background: #4e4e4e;
    border-radius: 4px;
}

.glass{
    background: rgba(255, 255, 255, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.2px);
    -webkit-backdrop-filter: blur(6.2px);
    padding: 0 10px;
}


.image-container {
    display: flex;
    height: 100vh;
  }

  .image-part {
    flex: 1;
    height: 100%;
    background-size: calc(var(--num-parts) * 100%) 100%;
    transform-origin: left; /* Punto de origen para la transformación */
    animation: splitAndMerge 6s linear;
    background-position: var(--position, 0%);
  }

  @keyframes splitAndMerge {
    0% {
      background-position: var(--position, 0%);
      transform: scale(1); /* Tamaño original (100%) */
    }
    50% {
      background-position: calc(var(--position, 0%) + 20%);
      transform: scale(1.3); /* Zoom interno */
    }
    100% {
      background-position: var(--new-position, 0%);
      transform: scale(1); /* Tamaño original (100%) */
    }
  }